*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
body {
    background-color: black;
}
h1 {
    color: #fff;
    text-align: center;
}
p {
    color: #fff;
    text-align: center;
}
.form-label {
    color: #fff;
}
.form-control {
    background-color: black;
    text-align: center;
    text-emphasis-color: #fff;
}